<div class="section">
    <h2 class="title is-2">Top Heroes</h2>
    <nav class="level">
        <div class="level-left">
            <a routerLink="/dashboard" routerLinkActive="active" class="level-item button is-light">Dashboard</a>
            <a routerLink="/heroes" routerLinkActive="active" class="level-item button is-light">Heroes</a>
        </div>
    </nav>
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="top-heroes">
        <div class="notification is-primary">
            <h3 class="title is-3">{{hero.name}}</h3>
        </div>
    </div>
</div>