<div class="section">
    <div *ngIf="hero">
        <h2><span *ngIf="!newHero">{{hero.name}} details!</span><span *ngIf="newHero">Create new hero</span></h2>
        <div class="control">
            <div *ngIf="!newHero">
                <label class="label">Id: {{hero._id}}</label>
            </div>
        </div>
    </div>
    <div class="control">
        <label class="label">Name: </label>
        <div class="col-sm-10">
            <input class="input" [(ngModel)]="hero.name" placeholder="name" />
        </div>
    </div>
    <div class="control">
        <label class="label">Power: </label>
        <div class="col-sm-10">
            <input class="input" [(ngModel)]="hero.power" placeholder="power" />
        </div>
    </div>
    <div class="control">
        <label class="label">Amount People Saved: </label>
        <div class="col-sm-10">
            <input class="input" [(ngModel)]="hero.amountPeopleSaved" placeholder="amountPeopleSaved" />
        </div>
    </div>
    <div class="control">
        <div class="col-sm-offset-2 col-sm-10">
            <button (click)="goBack()" class="button">Back</button>
            <button (click)="save()" class="button is-primary">Save</button>
        </div>
    </div>
</div>